* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photo1 {
  display: flex;
  justify-content: space-evenly;
  align-items: inherit;
}

.photo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
    border-radius: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  border: none;
  width: 70px;
  height: 20px;
  border-radius: 3px;
}

input[type="button"] {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 1em;
  background: #ff6766;
  color: #e7e7e7;
}
